<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js</title>
  </head>

  <body>
    <h1>Hi I am <%= person %></h1>
    <h3>Age: <%= data.age %></h3>
    <h3>Job: <%= data.job %></h3>
    <h2>Hobbis</h2>
    <ul>
      <% data.hobbies.forEach((item) => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
